.list-container {
  margin-top: 15px;
}
.song-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image {
  height: 90px;
  width: 150px;
  margin-right: 15px;
}
.image-song-container {
  display: flex;
  align-items: center;
}
.song-head {
  font-family: 'Roboto';
  color: #ffffff;
}
.song-para {
  font-family: 'Roboto';
  color: #3b82f6;
}
.duration-delete-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.duration-para {
  font-family: 'Roboto';
  color: #ffffff;
}
.button {
  border: none;
  outline: none;
  background-color: transparent;
}
.delete-icon {
  color: #ffffff;
  height: 25px;
  margin-right: 20px;
}
